<div id="page_wrapper">
    <div id="profile_image">
       <%= image_tag "profile.jpeg" %>
    </div>

    <div id="content">
        <h1>Spider Ham!</h1>
        <p>Blue bottle hot chicken food truck pug man bun 3 wolf moon enamel pin lo-fi sriracha 
        listicle ugh meh letterpress. Pickled disrupt pug mlkshk, live-edge actually seitan skateboard 
        four loko vaporware slow-carb viral locavore. Live-edge lo-fi ugh shoreditch yuccie selfies post-ironic 
        kitsch copper mug kombucha pork belly microdosing organic. Meh sriracha pork belly tbh williamsburg vice. 
        8-bit forage raw denim literally typewriter iceland narwhal kinfolk. Dreamcatcher pug ethical authentic 
        shaman jean shorts sriracha. Microdosing deep v subway tile authentic banjo XOXO pabst.</p>
    </div>
</div>